<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Access Password</title>
        <link rel="stylesheet" href="css/accesspassword.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        
      </head>
<body>
<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>
<div class="main" style="margin-left:300px;margin-top:43px;">
    <header class="container" style="padding-top:1px">
        <h5><b><i class="fa fa-dashboard"></i> Access Passwords</b></h5>
      </header>
     
      <div class="cont">
    <% if (allpasswords.length > 0) { %>
        <% allpasswords.forEach(pass => { %>
            <div class="main" style="float: left; width: 50%; font-size: 20px">
              <%= pass.password_category %> </div>
            <div class ="sub" style="float: right; widows: 50%;">
              <input class = "view" type="button" value="View Details" id=<%= pass._id%> 
              onclick="showform(this.id,1)">
                <div id="prompt-form-container">
                      <form id="prompt-form">
                      <div id="prompt-message"></div>
                      <input type="password" name = "text">
                      <input type="submit" value="Ok">
                      <input type="button" name="cancel" value="Cancel">
                      </form>
                </div>
              <button class="del" id= <%= pass._id %> onclick="showform(this.id,2)"><i class="fa fa-trash" 
                style="color: red; font-size: 25px; padding-bottom: 3px;" > Delete</i></button></div><br><br>
              <div class = "w3-hide w3-red" id = div_<%= pass._id %> >
                <p>Username: <%= pass.username_a %></p>
            <p>Password Hint: <%= pass.password_hint %></p>
            <p>Password: <%= decrypt(pass.password_a)%></p>
            </div>
            
        <% }) %>
      <% } else { %>
        <p>There are no passwords to display...</p>
      <% } %>
      
</div>
</div>
</body>
<script type="text/javascript" src="javascript/accesspassword.js"></script> 

</html>